{:deps
 {org.zeromq/jeromq {:mvn/version "0.5.2"}
  org.osgi/org.osgi.core {:mvn/version "4.2.0"}
  org.osgi/org.osgi.compendium {:mvn/version "4.2.0"}
  org.osgi/org.osgi.annotation {:mvn/version "6.0.0"}
  org.apache.felix/org.apache.felix.scr.annotations {:mvn/version "1.9.6"}
  com.google.guava/guava {:mvn/version "15.0"}
  javax.jcr/jcr {:mvn/version "2.0"}
  commons-io/commons-io {:mvn/version "2.11.0"}
  org.apache.jackrabbit/jackrabbit-jcr-commons {:mvn/version "2.21.10"}
  org.apache.jackrabbit/oak-api {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-commons {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-jackrabbit-api {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-core-spi {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-store-spi {:mvn/version "1.38.0-zeromq"}
  commons-codec/commons-codec {:mvn/version "1.15"}
  org.apache.jackrabbit/jackrabbit-data {:mvn/version "2.20.5"}
  org.apache.jackrabbit/oak-security-spi {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-query-spi {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-blob {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-blob-plugins {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-core {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-store-zeromq {:mvn/version "1.38.0-zeromq"}
  io.dropwizard.metrics/metrics-core {:mvn/version "3.2.6"}
  org.apache.jackrabbit/oak-segment-tar {:mvn/version "1.38.0-zeromq"}
  com.fasterxml.jackson.core/jackson-core {:mvn/version "2.10.2"}
  org.apache.commons/commons-lang3 {:mvn/version "3.10"}
  org.apache.jackrabbit/oak-segment-remote {:mvn/version "1.38.0-zeromq"}
  com.microsoft.azure/azure-storage {:mvn/version "8.6.0"}
  org.apache.jackrabbit/oak-segment-azure {:mvn/version "1.38.0-zeromq"}
  org.slf4j/slf4j-api {:mvn/version "1.7.30"}
  org.jetbrains/annotations {:mvn/version "18.0.0"}}}
