.settings
.classpath
.project
target
oak-run/*.csv
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.checkstyle
derby.log
.java-version
*/dependency-reduced-pom.xml
.DS_Store
TAGS
.cpcache
.nrepl-port
.vscode
.clj-kondo
\#*
.lsp