{ :paths [
          "src/main/java"
          "oak-api/src/main/java"
          "oak-auth-external/src/main/java"
          "oak-auth-ldap/src/main/java"
          "oak-authorization-cug/src/main/java"
          "oak-authorization-principalbased/src/main/java"
          "oak-benchmarks/src/main/java"
          "oak-benchmarks-elastic/src/main/java"
          "oak-benchmarks-lucene/src/main/java"
          "oak-benchmarks-solr/src/main/java"
          "oak-blob/src/main/java"
          "oak-blob-cloud/src/main/java"
          "oak-blob-cloud-azure/src/main/java"
          "oak-blob-plugins/src/main/java"
          "oak-commons/src/main/java"
          "oak-core/src/main/java"
          "oak-core-spi/src/main/java"
          "oak-doc/src/main/java"
          "oak-doc-railroad-macro/src/main/java"
          "oak-examples/src/main/java"
          "oak-exercise/src/main/java"
          "oak-http/src/main/java"
          "oak-it/src/main/java"
          "oak-it-osgi/src/main/java"
          "oak-jackrabbit-api/src/main/java"
          "oak-jcr/src/main/java"
          "oak-lucene/src/main/java"
          "oak-mk/src/main/java"
          "oak-mk-api/src/main/java"
          "oak-mk-remote/src/main/java"
          "oak-mongomk/src/main/java"
          "oak-parent/src/main/java"
          "oak-pojosr/src/main/java"
          "oak-query-spi/src/main/java"
          "oak-run/src/main/java"
          "oak-run-commons/src/main/java"
          "oak-run-elastic/src/main/java"
          "oak-search/src/main/java"
          "oak-search-elastic/src/main/java"
          "oak-search-mt/src/main/java"
          "oak-security-spi/src/main/java"
          "oak-segment-aws/src/main/java"
          "oak-segment-azure/src/main/java"
          "oak-segment-remote/src/main/java"
          "oak-segment-tar/src/main/java"
          "oak-sling/src/main/java"
          "oak-solr-core/src/main/java"
          "oak-solr-embedded/src/main/java"
          "oak-solr-osgi/src/main/java"
          "oak-solr-remote/src/main/java"
          "oak-store-aws-standalone/src/main/java"
          "oak-store-composite/src/main/java"
          "oak-store-document/src/main/java"
          "oak-store-kafka/src/main/java"
          "oak-store-kafka-sic/src/main/java"
          "oak-store-spi/src/main/java"
          "oak-store-zeromq/src/main/java"
          "oak-store-zeromq-indexevents/src/main/java"
          "oak-store-zeromq-service-store/src/main/java"
          "oak-store-zeromq-service-store-before-rebase/src/main/java"
          "oak-tarmk-standby/src/main/java"
          "oak-upgrade"]}
