{:deps
 {org.zeromq/jeromq {:mvn/version "0.5.2"}
  org.osgi/org.osgi.core {:mvn/version "4.2.0"}
  org.osgi/org.osgi.compendium {:mvn/version "4.2.0"}
  org.osgi/org.osgi.annotation {:mvn/version "6.0.0"}
  org.apache.felix/org.apache.felix.scr.annotations {:mvn/version "1.9.6"}
  org.apache.jackrabbit/oak-api {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-core {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-store-spi {:mvn/version "1.38.0-zeromq"}
  org.apache.jackrabbit/oak-store-zeromq {:mvn/version "1.38.0-zeromq"}
  com.google.guava/guava {:mvn/version "15.0"}
  org.slf4j/slf4j-api {:mvn/version "1.7.30"}
  org.jetbrains/annotations {:mvn/version "18.0.0"}}}
